[Unit]
Description=Moomoo Annotator Daemon
After=network-online.target docker.service
Requires=docker.service
Wants=network-online.target

[Service]
Type=simple
User={WHOAMI}
WorkingDirectory={MOOMOO_INGEST_PATH}
EnvironmentFile={MOOMOO_INGEST_ENVVFILE}
ExecStart={MOOMOO_ANNOTATOR_DAEMON_LAUNCHER} --no-detach --force-stop --no-restart
Restart=always
RestartSec=5
TimeoutStopSec=30

# Graceful stop
ExecStop=/usr/bin/docker stop -t 5 moomoo-annotator-daemon-latest | xargs /usr/bin/docker rm
[Install]
WantedBy=multi-user.target
