[Unit]
Description=Moomoo HTTP Server
After=network-online.target docker.service
Requires=docker.service
Wants=network-online.target

[Service]
Type=simple
User={WHOAMI}
WorkingDirectory={MOOMOO_HTTP_PATH}
EnvironmentFile={MOOMOO_HTTP_ENVVFILE}
ExecStart={MOOMOO_HTTP_DAEMON_LAUNCHER} --no-detach --force-stop --no-restart
Restart=always
RestartSec=5
TimeoutStopSec=40

# Graceful stop
ExecStop=/usr/bin/docker stop -t 30 moomoo-http-daemon-latest

[Install]
WantedBy=multi-user.target
